.footer{
    display: flex;
    background-color: #5a0394;
}

.container{
    color: white;
    padding: 20px;
    display: flex;
    gap: 250px;
}

.logo{
   width: 300px;
   align-items: center;
}

.paginas{
    display: grid;
    color: white;
    font-size: 20px;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
}

.paginas ul{
    list-style-type: none;
    padding: 0; 
}

.paginas a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    display: block; 
    font-size: 20px;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

.social-icons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    align-items: center;
}

.social-icons a img{
    filter: invert(1);
    width: 60px;
}

 